@tailwind base;
@tailwind components;
@tailwind utilities;

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body {
  font-family: var(--font-noto-sans);
}
